.container-sileder h2{
    color: #B1292B;
    font-weight: 700
}

  
.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98% !important;
  height: 75vh;
  background-size: cover;

}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}