.container-header{
  justify-content: flex-end;
  gap: 2%;
  font-size: 17px;
  padding-right: 2%;
  background-color: red;
  color: white;
}
.container-header div{
  align-items: center;
}
.container-header span{
  margin-left: 5px;
}

@media screen and (max-width: 400px) {
  .container-header div{
    display: none;
  }
}