.titleNews{
    background-color: #B70C13;
    padding: 15px;
    color: white;
    text-align: center;
}
.menu{
    background-color: #2E5F9F;
    padding: 10px;
    color: white;
}
.menu div{
    padding: 10px;
    border-bottom: 1px solid gray  ;

}
@media screen and (max-width: 500px) {
    .sideBar{
        display: none;
    }
  }
  .menu a{
    color: white;
    text-decoration: none;
  }
  .statistical{
    color: white;
    background-color: #B70C13;
    text-align: center;
  }
  .card-title{
    color: rgb(147, 146, 146);
    text-align: center;
  }
  .card-title p{
    color: blue;
    text-align: left;
    padding-bottom: 2%;
    font-weight: 500;
    border-bottom: 2px solid rgb(193, 191, 191);
  }
  